<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
  Copy this file to ~/Library/LaunchAgents
  cd ~/Library/LaunchAgents
  open Console.app and monitor syslog output.
  NOTE: in the following command, the plist extension is required.
  launchctl load com.bolsinga.backupitunes.compressed.plist
  Look for related output in the syslog.
  Namely the executable this runs cannot be in ~/Documents, as it will get rejected. It works in ~/Applications
  launchctl list | grep bolsinga to see if it is running
  obviously, RunAtLoad below means it will run when loaded.
  launchctl unload com.bolsinga.backupitunes.compressed.plist to unload before re-loading when editing this file
-->
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.bolsinga.backupitunes.compressed</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/bolsinga/Applications/backup-itunes-compressed.sh</string>
		<string>/Users/bolsinga/Documents/code/itunes_backups/</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>1</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
