<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.bolsinga.backupitunes.compressed</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/bolsinga/Applications/backup-itunes-compressed.sh</string>
		<string>/Users/bolsinga/Documents/code/itunes_backups/</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>1</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
