<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.bolsinga.lastsong</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>WatchPaths</key>
	<array>
		<string>/Users/bolsinga/Music/iTunes/iTunes Music Library.xml</string>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/bolsinga/Documents/code/git/bin_utils/lastsong.sh</string>
	</array>
</dict>
</plist>
