name: Swift

on:
  release:
    branches: [ master ]
    types: [ published ]

jobs:
  build:

    runs-on: macos-12

    steps:
    - uses: actions/checkout@v2
    - name: Switch to Xcode 13.3
      run: sudo xcode-select -s "/Applications/Xcode_13.3.app"
    - name: Build
      run: swift build -c release -v
    - name: Archive
      uses: actions/upload-artifact@v2
      with:
        name: itunes_json
        path: .build/release/itunes_json
