name: Swift

on:
  release:
    branches: [ main ]
    types: [ published ]

jobs:
  build:

    runs-on: macos-15

    steps:
    - uses: actions/checkout@v6
    - name: sw_vers
      run: sw_vers
    - name: Available Xcodes
      run: ls /Applications | grep Xcode
    - name: Switch to Xcode 26
      run: sudo xcode-select -s "/Applications/Xcode_26.0.app/Contents/Developer"
    - name: Xcode Version
      run: xcodebuild -version
    - name: Install iOS
      run: xcodebuild -downloadPlatform iOS
    - name: Show SDKs
      run: xcodebuild -showsdks
    - name: Show Destinations
      run: xcodebuild -scheme iTunes -showdestinations
    - name: Build / Test
      run: swift test -v -Xswiftc -warnings-as-errors
    - name: Build iOS / macOS
      run: xcodebuild -verbose -skipPackagePluginValidation -scheme iTunes -destination "generic/platform=iOS Simulator" -destination "generic/platform=macOS"
